body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   

    background-image: linear-gradient(rgba(0, 0, 0, 0.53), rgba(0, 0, 0, 0.35)), url(img/island-1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*========================================= FORM & INPUTS==================================================================*/
#myForm {
    width: 400px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.73);
    text-align: center;
    border-radius: 10px 250px;
    box-shadow: 2px 5px 50px white;
    
}

h3 {
    color: white;
    text-transform: uppercase;

}

input {

    border: 0;
    background: none;
    display: block;
    margin: 5px auto;
    text-align: center;
    border: 3px solid #ff0000;
    padding: 15px 10px;
    width: 220px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25px;
}

input[type="text"]:focus,
input[type="firstname"]:focus {

    width: 270px;
    border-color: #0367fd;

}


/*========================================= bUTTONS & TEXT ==================================================================*/

#submitForm {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #ffc400ec;
    padding: 14px 35px;
    outline: none;
    color: white;
    border-radius: 1px 60px;
    transition: 0.25px;
    cursor: pointer;

}

#submitForm:hover {
    background: rgba(13, 109, 239, 0.49);
    font-size: 15px;


}


#greeting {
    text-align: center;
    color: white;
    text-align: center;
    font-size: 22px;
    color: #00ffe2;
}

#getData {
    position: absolute;
    top: 90%;
    left: 80%;
   
    border: 0;
    background-color: black;

    border: 3px solid #ffc400ec;
    padding: 14px 35px;
    outline: none;
    color: white;
    border-radius: 1px 60px;
    transition: 0.25px;
    cursor: pointer;

}

#getData:hover {
    background: rgba(230, 184, 31, 0.24);
    color: #ffffff;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    border: 4px solid #82ffff;
    border-radius: 60px 1px;

}

#getList {
    position: absolute;
    top: 90%;
    left: 9.5%;
    border: 0;
    background-color: black;

    border: 3px solid #ffc400ec;
    padding: 14px 35px;
    outline: none;
    color: white;
    border-radius: 1px 60px;
    transition: 0.25px;
    cursor: pointer;

}

#getList:hover {
     background: rgba(230, 184, 31, 0.35);
    color: #000000;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    border: 4px solid #82ffff;
    border-radius: 60px 1px;

}

#posts {
    position: absolute;
    top:17%;
    left: 5%;

    background-color: rgba(0, 0, 0, 0.73);
    width: 320px;
    color: white;
    border-radius: 24px;
    padding-left: 15px;

}

#message {
    position: absolute;
    left: 70%;
    top: 60%;
    color: #ffffff;

    padding: 10px 10px;

    font-size: 18px;
    text-transform: uppercase
}
